<!DOCTYPE html>
<html ng-app="form">
<head>
    <title>AngularJS - Course</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

    <style type="text/css">
        .ng-invalid.ng-dirty { border-color: #FA787E; }
        .ng-valid.ng-dirty { border-color: #78FA89; }
    </style>

</head>
<body ng-controller="StoreController as store">

        <div>
            <div>
                <h2>{{ store.gem.name }}</h1>
                <h4>{{ store.gem.description }}</h4>
                <h5>Description</h5>
                <ul ng-repeat="desc in store.gem.descriptions">
                    <blockquote>
                        {{ desc.title }}
                    </blockquote>
                </ul>

                <form name="descForm" ng-controller="DescriptionController as descCtrl"
                      ng-submit="descForm.$valid && descCtrl.addDescription()" novalidate>
                    <ul>
                        <blockquote>
                            {{ descCtrl.description.title }}
                        </blockquote>
                    </ul>
                    <h1>Form - Live View</h1>
                    <h6>Add new description</h6>
                    <input ng-model="descCtrl.description.title" type="text" placeholder="Digite aqui..." required/>
                    <input type="submit" value="Add item" />
                    <h5>form is {{ descForm.$valid }}</h5>
                </form>

                </div>
            <br>
        </div>

    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/form.js"></script>
</body>
</html>