<!DOCTYPE html>
<html ng-app="panel">
<head>
    <title>AngularJS - Course</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
</head>
<body>

    <section ng-init="tab = 1">
        <ul class="nav nav-pills">
            <li ng-class="{active:tab === 1}"><a href ng-click="tab = 1">Description</a></li>
            <li ng-class="{active:tab === 2}"><a href ng-click="tab = 2">Specification</a></li>
            <li ng-class="{active:tab === 3}"><a href ng-click="tab = 3">Reviews</a></li>
        </ul>
        <div class="panel" ng-show="tab === 1">
            <h4>Descirption</h4>
        </div>
        <div class="panel" ng-show="tab === 2">
            <h4>Specification</h4>
        </div>
        <div class="panel" ng-show="tab === 3">
            <h4>Reviews</h4>
        </div>
    </section>

    <!-- In Controller -->
    <section ng-controller="PanelController as cpanel">
        <ul class="nav nav-pills">
            <li ng-class="{active: cpanel.isSelected(1)}"><a href ng-click="cpanel.selectTab(1)">Description</a></li>
            <li ng-class="{active: cpanel.isSelected(2)}"><a href ng-click="cpanel.selectTab(2)">Specification</a></li>
            <li ng-class="{active: cpanel.isSelected(3)}"><a href ng-click="cpanel.selectTab(3)">Reviews</a></li>
        </ul>
        <div class="panel" ng-show="cpanel.isSelected(1)">
            <h4>Descirption</h4>
        </div>
        <div class="panel" ng-show="cpanel.isSelected(2)">
            <h4>Specification</h4>
        </div>
        <div class="panel" ng-show="cpanel.isSelected(3)">
            <h4>Reviews</h4>
        </div>
        {{panel}}
    </section>

    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/tab.js"></script>

</body>
</html>